@font-face {
  font-family: "Intro";
  src: url("assets/IntroDemo-BlackCAPS.otf");
}
@font-face {
  font-family: "Roboto Slab";
  src: url("assets/RobotoSlab.ttf");
}

footer,
.main_div,
.navlogo {
  margin-left: 4.75rem;
}

.a {
  width: 2%;
}

.main {
  height: 100vh;
}

.top {
  height: 2%;
}

.navlogo {
  width: 12.5625rem;
  height: 2.5rem;
  margin-top: 3.12rem;
}

.cart,
.take {
  background-color: #5222d0;
  color: #fff;
  border-radius: 6.25rem;
  font-family: Intro;
}

.cart {
  margin-top: 3.12rem;
  margin-right: 4.63rem;
  margin-bottom: 3px;
  font-size: 0.8125rem;
}

.take {
  font-size: 2.1875rem;
  margin-bottom: 9.12rem;
}

.credi {
  margin-left: 1rem;
  margin-bottom: 0.5rem;
  margin-right: 0.5rem;
}

.main_h {
  width: 32rem;
  font-size: 3.75rem;
  line-height: 4.5rem;
  font-family: Intro;
}

.main_p {
  width: 30.4375rem;
}

.footernav {
  color: #5222d0;
}

.main_p,
.footernav {
  font-family: Roboto Slab;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 2rem;
}
